body {
    background-color: blanchedalmond;
    margin: 0;
    font-size: 22px;
}
ul, h1, h2, p, h3{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(221, 103, 82);
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 120px;
}
.header-link {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 50px;
}
.header-list {
    display: flex;
    gap: 50px;
    display: flex;
}
/* головна секція */
.hero {
    padding: 50px 0;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-img{
    width: 550px;
}
.hero-title{
   font-size: 48px;
   color: rgb(113, 27, 12);
   font-weight: 700;
   margin-bottom: 40px;
}
.hero-text {
    font-size: 22px;
}
/* Інгрідієнти для тіста */
.dough {
    background-color: rgb(255, 185, 123);
}
.dough-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dough-title {
    color: rgb(113, 27, 12);
}
.dough-list {
    list-style: disc;
    margin-left: 50px;
    margin-top: 27px;
    margin-bottom: 20px;
}
.dough-img {
    width: 500px;
}
/* Інгрідієнти для начинки */
.filling {
    padding-top: 50px;
    padding-bottom: 50px;
}
.filling-img {
    width: 550px;
}
.filling-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Футер */
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(221, 103, 82);
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-img{
    width: 30px;
    margin-left: 20px;
}
/* Моя секція */
.making-container {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}
.my-favorite-pizza {
    background-color: rgb(255, 207, 117);
}
.making-titel {
margin-left: 150px;
}
.dough-textmfp {
    margin-top: 30px;
    margin-bottom: 50px;
}
.dough-listmfp {
    margin-top: 20px;
}
.dough-fmfp {
background-color: rgb(255, 179, 0);
}
.dough-titlemfp {
    margin-top: 0px;
}
.filling-wrapmfp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
